{% extends "base.html" %}

{% block title %}
  Document
{% endblock title %}
{% block content %}
  <header>
    <nav>
      <ul>
        {% if user.is_authenticated %}
          <li>
            <a href="{% url 'logout' %}">Log Out</a>
          </li>
        {% else %}
          <li>
            <a href="{% url 'signup' %}">Sign Up</a>
          </li>
          <li>
            <a href="{% url 'login' %}">Login</a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </header>
  <main>
    <div>
      <h1>Login</h1>
      <form method="post">
        {% csrf_token %} {{ form.as_p }}
        <button>Login</button>
      </form>
    </div>
  </main>
{% endblock content %}
