{% extends "base.html" %}

{% block title %}
  Document
{% endblock title %}
{% block content %}
  <main>
    <header>
      <nav>
        <ul>
          {% if user.is_authenticated %}
            <li>
              <a href="{% url 'logout' %}">Log Out</a>
            </li>
            <li>
              <a href="{% url 'show_accounts' %}">Accounts</a>
            </li>
            <li>
              <a href="{% url 'create_account' %}">Create Account</a>
            </li>
            <li>
              <a href="{% url 'create_category' %}">Create Expense Category</a>
            </li>
            <li>
              <a href="{% url 'category_list' %}">Expense Categories</a>
            </li>
            <li>
              <a href="{% url 'create_receipt' %}">Create Receipts</a>
            </li>
          {% else %}
            <li>
              <a href="{% url 'signup' %}">Sign Up</a>
            </li>
            <li>
              <a href="{% url 'login' %}">Login</a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <h1>My Receipts</h1>
    <table>
      <thead>
        <tr>
          <th>Vendor</th>
          <th>Total</th>
          <th>Tax</th>
          <th>Date</th>
          <th>Category</th>
          <th>Account</th>
        </tr>
      </thead>
      <tbody>
        {% for receipt in receipts %}
          <tr>
            <td>{{ receipt.vendor }}</td>
            <td>{{ receipt.total }}</td>
            <td>{{ receipt.tax }}</td>
            <td>{{ receipt.date|date:"m/d/y" }}</td>
            <td>{{ receipt.category.name }}</td>
            <td>{{ receipt.account.name }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </main>
{% endblock content %}
